@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');
body { font-family: 'Inter', serif; }

.padding-large {
  padding: 75px 0px;
}

.padding-medium {
  padding: 50px 0px;
}

.padding-small {
  padding: 25px 0px;
}

.pt25 {
  padding-top: 25px;
}

.pb25 {
  padding-bottom: 25px;
}

ul.home-list {
  list-style-type: none;
}

ul.home-list > li {
  font-size: 20px;
  border-bottom: solid 1px #eee;
  padding: 10px 0px;
}

ul.hash-list > li {
  margin: 0;
  padding: 0;
}

ul > li {
  overflow-wrap: break-word;
}

@media(max-width: 40.0rem) {
  .column.column-60.column-offset-20 {
    margin-left: 0px;
    max-width: 100%;
    flex: 0 0 100%;
  }

  h1 {
    font-size: 28px;
  }
}













.footer-fixed {
  position: fixed;
  background:#fff;
  z-index:99;
  bottom: 0;
  width: 100%;
}